* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --padding-first: #E23428;
  --padding-second: #135846;
  --bg-dashboard: #F8F8F8;
  --panel-inactive: #799283;
  --black-primary: #393939;
  --black-secondary: #262626; 
  --bg-lightPink: #FFEDEC;
}

body {
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
}

table, th, td {
  border: 1px solid;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.iconPointer {
  cursor: pointer
}