* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --padding-first: #E23428;
  --padding-second: #135846;
  --bg-dashboard: #F8F8F8;
  --panel-inactive: #799283;
  --black-primary: #393939;
  --black-secondary: #262626; 
  --bg-lightPink: #FFEDEC;
}

body {
  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
}

table, th, td {
  border: 1px solid;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.iconPointer {
  cursor: pointer
}

input[type=text] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.LinkActive::before {
  content: "";
  border-left: 50px solid var(--padding-first);
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  width: 0;
  height: 50px;
  position: absolute;
  left: -33px;
}
.LinkActive{
  color: var(--padding-first);
  font-weight: bolder;
}